---
import {SignIn,SignOut} from "auth-astro/components"
import {getSession} from "auth-astro/server";
const session = await getSession(Astro.request)
---

<nav class={`w-full flex ${session ? "justify-between px-14":"justify-end pr-14"}  p-2  bg-black`}> 
 
    <h3 class="text-white font-medium">
        {session?.user?.email}
    </h3>
    <ul class="flex gap-3 text-white"> 
        <a href="/">Inicio</a>
        {
            session ?
            <a href="/blog">Recetario</a>
            <SignOut> Cerrar Sesion </SignOut>
            : 
            <SignIn >Login</SignIn>
        }

    </ul>

    <slot/>
 </nav>